<head>
    <link rel='stylesheet' href='/stylesheets/footer.css' />
</head>

<body>
    <section class="footer">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-3">
                    <h1>CST 438 - Software Engineering</h1>
                    <img src="./images/logo.png" width="100px" height="100px"
                        style="background-color: white;border-radius: 50px">
                    <br><br>
                    <p>CSUMB 2020©</p>
                </div>
                <div class="col-md-3">
                    <h1>Made By <i class="fa fa-user"></i></h1>
                    <p>Jason Buckley</p>
                    <p>Joseph Villegas</p>
                    <p>Jose Morado</p>
                    <p>Kyle Dilbeck</p>
                </div>
                <div class="col-md-3">
                    <h1>Contact Us <i class="fa fa-envelope"></i></h1>
                    <p>jbuckley@csumb.edu</p>
                    <p>jovillegas@csumb.edu</p>
                    <p>jmorado@csumb.edu</p>
                    <p>kdilbeck@csumb.edu</p>
                </div>
            </div>
            <hr>

            <a class="link" href="https://github.com/JasonBuckley/CST438_Project3" target="_blank"
                aria-label="View source on GitHub">
                View Source on GitHub <i class="fa fa-github" aria-hidden="true"></i>
            </a>
            <p>THIS IS A FICTITIOUS SITE :)</p>
            Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a
                href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
        </div>
    </section>
</body>