<head>
    <link rel='stylesheet' href='/stylesheets/list.css' />
</head>

<body>
    <section class="featured">
        <div class="container">
            <div class="title-box">
                <h2>Search Results</h2>
            </div>

            <div class="book-row">
                <div class="col-md-3">
                    <div class="product-top">
                        <img src="" isbn="" id="book-img-1">
                    </div>
                    <div class="product-bottom text-center">
                        <h3 id="book-title-1"></h3>
                        <h5 id="book-isbn-1"></h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-top">
                        <img src="" isbn="" id="book-img-2">
                    </div>
                    <div class="product-bottom text-center">
                        <h3 id="book-title-2"></h3>
                        <h5 id="book-isbn-2"></h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-top">
                        <img src="" isbn="" id="book-img-3">
                    </div>
                    <div class="product-bottom text-center">
                        <h3 id="book-title-3"></h3>
                        <h5 id="book-isbn-3"></h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-top">
                        <img src="" isbn="" id="book-img-4">
                    </div>
                    <div class="product-bottom text-center">
                        <h3 id="book-title-4"></h3>
                        <h5 id="book-isbn-4"></h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>