
<div class="row d-flex justify-content-center">
    <div class="input-group mb-3 w-50">
        <div class="input-group-prepend">
            <button id="searchReview" class="btn btn-info btn-rounded" type="button">search</button>
        </div>

        <input id="searchReviewKey" type="text" class="form-control" placeholder="title or username">

        <div class="input-group-append">
            <div class="input-group-text form-check form-check-inline">
                <label class="form-check-label"><input type="radio" class="form-check-input" name="reviewFor" checked="checked" value="user"> user </label>
                <label class="form-check-label"> &nbsp; &nbsp;<input type="radio" class="form-check-input" name="reviewFor" value="books"> books</label>
            </div>
        </div>
    </div>
</div>

<table id="reviewTable" style="max-width:100vw" class="hide pl-5 pr-5 table table-condensed table-responsive">
    <thead>
        <tr>
            <th style="width:25vw">Upload Date</th>
            <th style="width:50vw">Review</th>
            <th style="width:17.5vw"></th>
        </tr>
    </thead>
    <tbody id="reviewContainer"></tbody>
</table>

<table id="bookTable" style="max-width:100vw" class="hide pl-5 pr-5 table table-condensed table-responsive">
    <thead>
        <tr>
            <th style="width:25vw">BookId</th>
            <th style="width:50vw">Title</th>
            <th style="width:17.5vw"></th>
        </tr>
    </thead>
    <tbody id="bookForReviewContainer"></tbody>
</table>

<script>
    $("#searchReview").on('click', async function () {
        if ($("input[name=reviewFor]").filter(":checked").val() == "user") {
            $("#reviewTable").removeClass("hide");
            $("#bookTable").addClass("hide");

            let userId = (await getUserIdFromName()).userId;
            let reviews = (await getUserReviews(userId)).reviews;
            console.log(reviews);

            $("#reviewContainer").empty();
            reviews.forEach((review) => {
                $("#reviewContainer").append(
                    `<tr id="review${review.reviewId}">
                                                        <td>${review.uploadDate}</td>
                                                        <td>${review.review}</td>
                                                        <td><button id="deleteReview${review.reviewId}" class="btn btn-white border-secondary bg-white btn-md mb-2">Remove</button></td>
                                                        </tr>
                                                        `
                );

                console.log(review.review);
                $(`#deleteReview${review.reviewId}`).on('click', function () {
                    $.ajax({
                        url: "/review/delete-review",
                        method: "delete",
                        dataType: "json",
                        data: { reviewId: review.reviewId, userId: review.userId, bookId: review.bookId, review: review.review },
                        success: function (results, status) {
                            console.log(results);
                            $(`#review${review.reviewId}`).remove();
                            return results;
                        }
                    });
                });
            });
        } else {
            $("#reviewTable").addClass("hide");
            $("#bookTable").removeClass("hide");

            let books = (await getBooks());
            $("#bookForReviewContainer").empty();
            books.forEach((book) => {
                console.log(book);
                $("#bookForReviewContainer").append(
                    `<tr id="book${book.bookId}">
                                                 <td>${book.bookId}</td>
                                                 <td>${book.name}</td>
                                                 <td><button id="reviews${book.bookId}" class="btn btn-white border-secondary bg-white btn-md mb-2">Reviews</button></td>
                                             </tr>
                                            `
                );

                $(`#reviews${book.bookId}`).on('click', async function () {
                    $("#bookForReviewContainer").empty();
                    $("#bookTable").addClass("hide");
                    $("#reviewTable").removeClass("hide");
                    $("#reviewContainer").empty();

                    let reviews = (await getBookReviews(book.bookId)).reviews;
                    console.log(reviews);

                    $("#reviewContainer").empty();
                    reviews.forEach((review) => {
                        $("#reviewContainer").append(
                            `<tr id="review${review.reviewId}">
                                                        <td>${review.uploadDate}</td>
                                                        <td>${review.review}</td>
                                                        <td><button id="deleteReview${review.reviewId}" class="btn btn-white border-secondary bg-white btn-md mb-2">Remove</button></td>
                                                        </tr>
                                                        `
                        );

                        console.log(review.review);
                        $(`#deleteReview${review.reviewId}`).on('click', function () {
                            $.ajax({
                                url: "/review/delete-review",
                                method: "delete",
                                dataType: "json",
                                data: { reviewId: review.reviewId, userId: review.userId, bookId: review.bookId, review: review.review },
                                success: function (results, status) {
                                    console.log(results);
                                    $(`#review${review.reviewId}`).remove();
                                    return results;
                                }
                            });
                        });
                    });
                });
            });
        }
    });

    function getBooks() {
        return $.ajax({
            url: "/book?search=" + $("#searchReviewKey").val(),
            method: "get",
            dataType: "json",
            success: function (results, status) {
                return results;
            }
        });
    }

    function getUserIdFromName() {
        return $.ajax({
            url: "/user/get?username=" + $("#searchReviewKey").val(),
            method: "get",
            dataType: "json",
            success: function (results, status) {
                return results;
            }
        });
    }

    function getUserReviews(userId) {
        return $.ajax({
            url: "/review/get-review?userId=" + userId,
            method: "get",
            dataType: "json",
            success: function (results, status) {
                return results;
            }
        });
    }

    function getBookReviews(bookId) {
        return $.ajax({
            url: "/review/get-review?bookId=" + bookId,
            method: "get",
            dataType: "json",
            success: function (results, status) {
                return results;
            }
        });
    }
</script>