<style>
    main {
        height: auto;
        min-height: 80vh;
    }

    #pageHeader {
        text-align: center;
        background-color: #22254b;
        color: white;
        padding-top: 1vh;
        padding-bottom: 1vh;
    }

    .center {
        text-align: center;
    }

    .hide {
        display: none;
    }
</style>

<h1 id="pageHeader">Admin Dashboard</h1>

<main>
    <div class="center pt-2">
        <p>
            <button id="manageUsersBtn" class="btn btn-secondary mr-3">Manage Users</button>
            <button id="manageBooksBtn" class="btn btn-secondary mr-3">Manage Books</button>
            <button id="manageReviewsBtn" class="btn btn-secondary mr-3">Manage Reviews</button>
        </p>
    </div>

    <div id="manageContainer">
        <div id="manageHint">
            <h3 class="center">Please select what you want to manage!</h3>
        </div>

        <div id="manageUsers" class="hide">
            <h1 class="center">Search a user to ban!</h1>
            <p class="center">(Use with caution. "With Great power comes responsibility"</p>

            <div class="row d-flex justify-content-center">
                <div class="input-group mb-3 w-50">
                    <div class="input-group-prepend">
                        <button id="searchUser" class="btn btn-info btn-rounded" type="button">search</button>
                    </div>
                    <input id="searchUserKey" type="text" class="form-control" placeholder="title">
                </div>
            </div>

            <div class="center">
                <div id="userContainer">

                </div>
            </div>
        </div>

        <div id="manageBooks" class="hide">
            {{>manageBooks}}
        </div>

        <div id="manageReviews" class="hide">

        </div>
    </div>
</main>

<script>
    let lastButton = "";

    $('#manageUsersBtn').on('click', function () {
        if (lastButton == "manageBooksBtn") {
            $("#manageBooks").addClass('hide');
            $("#manageBooksBtn").removeClass('btn-primary').addClass('btn-secondary');
        } else if (lastButton == "manageReviewsBtn") {
            $("#manageReviews").addClass('hide');
            $("#manageReviewsBtn").removeClass('btn-primary').addClass('btn-secondary');
        } else {
            $("#manageHint").addClass('hide');
        }

        lastButton = $('#manageUsersBtn').attr('id');
        $('#manageUsersBtn').removeClass('btn-secondary').addClass('btn-primary');
        $('#manageUsers').removeClass('hide');
    });

    $('#manageBooksBtn').on('click', function () {
        if (lastButton == "manageUsersBtn") {
            $("#manageUsers").addClass('hide');
            $("#manageUsersBtn").removeClass('btn-primary').addClass('btn-secondary');
        } else if (lastButton == "manageReviewsBtn") {
            $("#manageReviews").addClass('hide');
            $("#manageReviewsBtn").removeClass('btn-primary').addClass('btn-secondary');
        } else {
            $("#manageHint").addClass('hide');
        }

        lastButton = $('#manageBooksBtn').attr('id');
        $('#manageBooksBtn').removeClass('btn-secondary').addClass('btn-primary');
        $('#manageBooks').removeClass('hide');
    });

    $('#manageReviewsBtn').on('click', function () {
        if (lastButton == "manageUsersBtn") {
            $("#manageUsers").addClass('hide');
            $("#manageUsersBtn").removeClass('btn-primary').addClass('btn-secondary');
        } else if (lastButton == "manageBooksBtn") {
            $("#manageBooks").addClass('hide');
            $("#manageBooksBtn").removeClass('btn-primary').addClass('btn-secondary');
        } else {
            $("#manageHint").addClass('hide');
        }

        lastButton = $('#manageReviewsBtn').attr('id');
        $('#manageReviewsBtn').removeClass('btn-secondary').addClass('btn-primary');
        $('#manageReviews').removeClass('hide');
    });

    $("#searchUser").on('click', function () {
        if ($("#searchUserKey").val()) {
            $.ajax({
                url: "/user/get?username=" + $("#searchUserKey").val(),
                method: "get",
                dataType: "json",
                success: function (results, status) {
                    $("#userContainer").empty();
                    if (results.userId > -1) {
                        $("#userContainer").append(
                            `<h2>${$("#searchUserKey").val()} <button id="banUser" class="btn btn-danger">Ban</button></h2>`
                        );

                        $("#banUser").on('click', function () {
                            $.ajax({
                                url: "/user/ban",
                                method: "delete",
                                dataType: "json",
                                data: { userId: results.userId },
                                success: function (results, status) {
                                    $("#userContainer").empty();
                                    if (results.success) {
                                        $("#userContainer").append(
                                            `<h2 class=" text-success">${$("#searchUserKey").val()}${results.msg}</h2>`
                                        );
                                    } else {
                                        $("#userContainer").append(
                                            `<h2 class=" text-danger">${results.msg}</h2>`
                                        );
                                    }
                                }
                            });
                        });
                    } else {
                        $("#userContainer").append(
                            `<h2>${results.msg}</h2>`
                        );
                    }
                }
            });
        }
    });
</script>

{{>footer}}