<head>
    <link rel='stylesheet' href='/stylesheets/book.css' />
</head>

<body>
    {{>nav}}

    <div class="container">
        <!-- Left Column / Book Cover -->
        <div class="left-column">
            <img src="http://covers.openlibrary.org/b/isbn/{{isbn}}-M.jpg" id="book" isbn="{{isbn}}">
        </div>

        <!-- Right Column / Book Info -->
        <div class="right-column">

            <!-- Book Description -->
            <div class="book-description">
                <span id="book-publisher"></span>
                <h1 id="book-title"></h1>
                <p id="book-pub-year"></p>
                <p id="book-isbn"></p>
                <p id="book-avg-rating"></p>
                <form action="#" id="rate-form">
                    <label for="rate">Rate (between 0 and 10):</label>
                    <input type="number" id="rate" name="rate" min="0" max="10" required>
                    <input type="submit">
                </form>
            </div>
            <div class="book-author">
                <span>Author</span>
                <img src="" alt="" id="author">
            </div>
        </div>
    </div>

    <div class="reviews container-fluid flex-row-reverse">
        <div class="row w-100">
            <table style="max-height:90%; color: #eee;" class="table table-condensed table-responsive">
                <thead>
                    <tr>
                        <th style="width:15%">User ID</th>
                        <th style="width:15%">Review ID</th>
                        <th style="width:70%">Review</th>
                    </tr>
                </thead>
                <tbody id="reviewBox">
                </tbody>
            </table>
        </div>



<script>
    $(document).ready(function () {
        /*global $*/
        function getUID(){
            $.ajax({
            url: `/user/getUserId`,
            method: "GET",
            dataType: "json",
            success: function (result, status) {
                return result;
            }
        });
        }
        let isbn = $("#book").attr("isbn");

        let book = searchByISBN(isbn).then((result) => {
            let title = result.title;
            let publisher = result.publishers[0];
            let publish_year = result.publish_date;
            console.log(result);

            $("#book-publisher").html(`Publisher: ${publisher}`);
            $("#book-pub-year").html(`Published: ${publish_year}`);
            $("#book-title").html(`${title}`);
            $("#book-isbn").html(`ISBN: ${isbn}`);


            let author_id = result.authors[0]["key"].split("/")[2];
            console.log(author_id);
            let author_img = `http://covers.openlibrary.org/a/olid/${author_id}-S.jpg`;
            $("#author").attr({ "src": author_img });
            console.log(author_img);
        });

        getBook(isbn).then(async(result) => {
            console.log(result);
            const { bookId } = result[0];
            console.log(bookId);
            let data = await getUID();
            let userId = data.success ? data.userId : -1;
            
            getReviews(bookId).then((result) => {
                console.log(result.reviews);
                result.reviews.forEach((review) => {
                    createFrameDiv(review);
                });
            });
        });
        
    });

    function searchByISBN(isbn) {
        return $.ajax({
            url: `https://openlibrary.org/isbn/${isbn}.json`,
            method: "GET",
            dataType: "json",
            success: function (result, status) {
                return result;
            }
        });
    }

    function getBook(isbn) {
        return $.ajax({
            url: `/book?isbn=${isbn}`,
            method: "GET",
            dataType: "json",
            success: function (result, status) {
                return result;
            }
        });
    }

    function getReviews(bookId) {
        return $.ajax({
            url: `/review/get?bookId=${bookId}`,
            method: "GET",
            dataType: "json",
            success: function (result, status) {
                return result;
            }
        });
    }

    function createFrameDiv(review, user) {
        $("#reviewBox").append(
            `
            <tr>
                <td>
                    <p>${review.userId}</p>
                </td>
                <td>
                    <p>${review.reviewId}</p>
                </td>
                <td>
                    <p>${review.review}</p>
                </td>
                <td>
                    <p>${review.rating}</p>
                </td>
                <td id="buttons${review.reviewId}">
                
                </td>
            </tr>
        
        
            `
        );
        if(user.userId == review.userId){
            $(`#buttons$[review.reviewId]`).append(
                `
                <button id="deleteButton">Delete</button><br>
                <button id="editButton">Delete</button><br>
                
                `
                );
        }
        
    }
    
    function deleteB(review, user){
        
        if(review.userId == user.userId){
             return $.ajax({
                url:`/review/delete-review`, 
                method:"DELETE",
                dataType: "json",
                success: function(res){
                    return res; 
                }
            }); 
        }else{
            console.log("review.userID does not match user.userID", );
           return;
        }
    }
    $("#deleteButton").on("click", deleteB);
    
    $("#editButton").on("click", function editB(review, user){
        if(review.userId == user.userId){
             return $.ajax({
                url:`/review/update-review`, 
                method:"PUT",
                dataType: "json",
                success: function(res){
                    return res; 
                }
            }); 
        }else{
            console.log("review.userID does not match user.userID", );
            return;
        }
    });
    </script>
    
    <script src="/javascripts/book.js"></script>
</body>