<body>
    {{>nav}}
    
    <div id="search-res">
        {{>list}}
    </div>
    <br>
    <a href="reviews">Reviews</a>
    <br>

    {{>footer}}

    <script src="./javascripts/home.js"></script>
</body>