<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>



<br><br><br><br><br>
<div id="review section" name="reviews">
    REVIEW SECTION TO DO:
        -item display 
        -review box under item
        -500 char limit 
        -edit buttons 
            ->post
            ->edit
            ->delete
    <form action="/CST438_Project3/routes/reviews.js" method="post">
    <div>
    <textarea name="comments" id="comments" style="font-family:sans-serif;font-size:1.2em;">
    Comments
    </textarea>
    </div>
    <input type="submit" value="Submit">
    </form>
    {{!--<script src="https://apps.elfsight.com/p/platform.js" defer></script>--}}
    {{!--<div class="elfsight-app-22ea5dc4-f24f-42e0-b7ed-69f1869ff3a6"></div>--}}
</div>
