<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>



<br><br><br><br><br>
<div id="review section" name="reviews">
    REVIEW SECTION TO DO:
        -item display 
        -review box under item
        -500 char limit 
        -edit buttons 
            ->post
            ->edit
            ->delete

    <form action="/CST438_Project3/routes/reviews.js" method="post">
    <div>
    <textarea name="comments" id="comments" style="font-family:sans-serif;font-size:1.2em;">
    Comments
    </textarea>
    </div>
    <input type="submit" value="Submit">
    </form>

</div>
