<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>



<br><br><br><br><br>
<div id="review section" name="reviews">
    REVIEW SECTION TO DO:
        -item display 
        -review box under item
        -edit buttons 
            ->post
            ->edit
            ->delete
    {{!--<script src="https://apps.elfsight.com/p/platform.js" defer></script>--}}
    {{!--<div class="elfsight-app-22ea5dc4-f24f-42e0-b7ed-69f1869ff3a6"></div>--}}
</div>
