<head>
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <link rel='stylesheet' href='/stylesheets/search.css' />
</head>

<body>
    {{>nav}}
    <main id="main">
        <div class='container'>
            <div class='jumbotron'>
                <h1> Login Page </h1> <br>
                <form id="loginForm" action="/user/login" method='GET'>
                    <div class='form-group row'>
                        <div class='col-sm-4'></div>
                        <div class='col-sm-4'>
                            <input type='text' placeholder="Username" class='field shadow' id='username' name="username"
                                required>
                        </div>
                    </div>
                    <div class='form-group row'></div>
                    <div class='form-group row'>
                        <div class='col-sm-4'></div>
                        <div class='col-sm-4 '>
                            <input type='password' placeholder="Password" class='field shadow' id='password'
                                name="password" required>
                        </div>
                    </div>

                    <div class='form-group row'>
                        <div class='col-sm-4'></div>
                        <div class='col-sm-4'>
                            <br>
                            <p class="text-success"> <span id="errorMessage">{{feedback}}</span> </p>
                        </div>
                    </div>

                    <div class='form-group row'>
                        <div class='col-sm-4'></div>
                        <div class='col-sm-4'>
                            <button class='cool btn btn-primary btn-block' type="submit">Login</button>
                        </div>
                    </div>
                    <div class='form-group row'>
                        <div class='col-sm-4'></div>
                        <div class='col-sm-4'>
                            <p>Don't have an account?</p> <a href="/user/register">Click here.</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>

    {{>footer}}
    <script>
        $("#loginForm").on('submit', function (event) {
            event.preventDefault();
            let loginForm = $("#loginForm");

            $.ajax({
                type: loginForm.attr("method"),
                url: loginForm.attr("action"),
                data: loginForm.serialize(),
                success: function (results, status) {
                    $("#errorMessage").html("");

                    if (results.success) {
                        window.location = window.location.origin
                    } else {
                        $("#errorMessage").removeClass("text-success");
                        $("#errorMessage").html(results.msg).addClass("text-danger");
                    }
                }
            });
        })
    </script>
    <script src="/javascripts/search.js"></script>
</body>