{{>nav}}

<html>
  <head>
    <title>Register</title>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
		<script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
		<link rel='stylesheet' type='text/css' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'>
		<link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  
  <body>


<div class='container'>
	<div class='jumbotron' >
		<h1 class=> Register Page  </h1> <br><br>
		
	
		<form action="/user/add" method='GET'>
      <div class='form-group row'>
				<div class='col-sm-4'></div>
				<div class='col-sm-4'>
					<input type='text' placeholder="Email" class='field shadow' id='email' name='email' required>
				</div>
			</div>

			<div class='form-group row'>
				<div class='col-sm-4'></div>
				<div class='col-sm-4'>
					<input type='text' placeholder="Username" class='field shadow' id='username' name='username' required>
				</div>
			</div>

			<div class='form-group row'>
				<div class='col-sm-4'></div>
				<div class='col-sm-4'>
					<input type='password' placeholder="Password" class='field shadow' id='password' name='password' required>
				</div>
			</div>
			<br>
			<div class='form-group row'>
				<div class='col-sm-4'></div>
				<div class='col-sm-4'>
					<button class='cool btn btn-primary btn-block'>Register
          </button>
				</div>
			</div>

			<div class='form-group row'>
				<div class='col-sm-4'></div>
				<div class='col-sm-4'>
					<p>Or click <a href="/user/login">here </a>  to log in.</p>
				</div>
			</div>
			</div>
		</form>
 
   
    
	</div>
</div>


  </body>
</html>