<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<ul>
    <li><a href="/">Home(refresh)</a></li>
    <li><a href="/bookPage">Reviews</a></li>
    <li><a href="/">TestLink</a></li>
    <li></li>
    <li></li>
</ul>

    <form name="bookdisplay" action='/' method='GET'>
            <!--this is to display product-->
        <div class="grid-container">
        {{!--<% bookInfo.forEach(function(b) { %>--}}
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="<%= book.coverImg %>" alt="Card image cap"/>
                <div class="card-body">
                <h5 class="card-title"><%= book.name %></h5>
                <p>by <%= book.author %></p>
                <p class="card-text"><b>$<%= book.ISBN %></b></p>
                </div>
            </div>
                {{!--<% }) %>--}}
        </div>  
    </form>
    <br><br><br><br><br>
<div id="review section" name="reviews">
    REVIEW SECTION TO DO:
        -item display 
        -review box under item
        -500 char limit 
        box todo list
        -500 char limit 
        review box
        -edit buttons 
            ->post
            ->edit
            ->delete
    <form name="commentBox"action="/CST438_Project3/routes/reviews.js" method="post">
    <div>
    <textarea name="comments" id="comments" style="font-family:sans-serif;font-size:1.2em;">
    Comments
    </textarea>
    </div>
    <input type="submit" value="Submit">
    </form>
