<h1>Test Page: API search by book title</h1>
<h2>Results:</h2>

<input type="text" class="form-control" id="search-input">
<button id="search-btn">push</button>

<div class="container-fluid flex-row-reverse">
    <div class="row w-100">
        <table style="max-height:90%" id="book-list" class="table table-condensed table-responsive">
            <thead>
                <tr>
                    <th style="width:40%">Title</th>
                    <th style="width:25%">Published</th>
                    <th style="width:20%">ISBN</th>
                    <th style="width:15%">Publisher</th>
                </tr>
            </thead>
            <tbody id="bookContainer">
            </tbody>
        </table>
    </div>
</div>
<script src="../stylesheets/javascripts/search.js"></script>