body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  color: #eee;
  background-image: url("/images/202978.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* styles for book container */
.container {
  background-color: #373b69;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  border: 1px solid #e1e8ee;
}

/* styles for columns */
.left-column {
  width: 65%;
  position: relative;
}

.right-column {
  width: 35%;
  margin-top: 60px;
}

/* styles left column */
.left-column img {
  width: 220px;
  position: absolute;
  left: 0;
  top: 0;
}

/* styles for book description */
.book-description {
  border-bottom: 1px solid #e1e8ee;
  margin-bottom: 20px;
}

.book-description span {
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

.book-description h1 {
  font-weight: 300;
  font-size: 52px;
  letter-spacing: -2px;
}

.book-description p {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.book-author {
  display: flex;
  align-items: center;
}

.book-author span {
  font-size: 26px;
  font-weight: 300;
  margin-right: 20px;
}

.book-author img {
  max-height: 50px;
  border-radius: 50%;
}

@media (max-width: 980px) {
  .container {
    /* flex-direction: column; */
    display: block;
    margin-top: 60px;
  }

  .left-column,
  .right-column {
    width: 100%;
  }

  .left-column img {
    width: 200px;
    right: 0;
    /* top: -65px; */
    left: initial;
  }
}

@media (max-width: 520px) {
  .left-column img {
    width: 200px;
    /* top: -85px; */
  }
}

/* styles for review container */
.reviews {
  background-color: #373b69;
  color: #eee;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  border: 1px solid #e1e8ee;
}
