body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  color: #eee;
  background-image: url("/images/202978.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* styles for book container */
.container {
  background-color: #373b69;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  border: 1px solid #e1e8ee;
}

/* styles for columns */
.left-column {
  width: 65%;
  position: relative;
}

.right-column {
  width: 35%;
  margin-top: 60px;
}

/* styles left column */
.left-column img {
  /*width: 100%;*/
  position: absolute;
  left: 0;
  top: 0;
}

/* styles for book description */
.book-description {
  border-bottom: 1px solid #e1e8ee;
  margin-bottom: 20px;
}

.book-description span {
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

.book-description h1 {
  font-weight: 300;
  font-size: 52px;
  letter-spacing: -2px;
}

.book-description p {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.book-author {
  display: flex;
  align-items: center;
}

.book-author span {
  font-size: 26px;
  font-weight: 300;
  margin-right: 20px;
}

.book-author img {
  max-height: 50px;
  border-radius: 50%;
}

/* styles for review container */
.reviews {
  background-color: #373b69;
  color: #eee;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  border: 1px solid #e1e8ee;
}

/* styles for search results */
.search-results {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: auto;
  padding: 10px;
}

.book {
  background-color: #373b69;
  border-radius: 3px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  margin: 1rem;
  width: 300px;
}

.book img {
  width: 100%;
}

.book-info {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.book-info h3 a {
  color: #eee !important;
  text-decoration: none !important;
  margin: 0;
}

.book-info span {
  background-color: #22254b;
  border-radius: 3px;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
}
