/* styles for footer */

.footer {
  background: black;
  color: white;
  margin-bottom: 0px;
  position: absolute;
  width: 100%;
}

.footer h1 {
  font-size: 15px;
  margin: 25px 0;
}

.footer p {
  font-size: 12px;
}
